---
import Github from '@/components/icons/Github.astro'
import Button from '@/components/ui/Button.astro'
import Indicator from '@/components/ui/Indicator.astro'
import Paragraph from '@/components/ui/Paragraph.astro'
import Status from '@/components/ui/Status.astro'
import Title from '@/components/ui/Title.astro'
import TitleLink from '@/components/ui/TitleLink.astro'
import ProjectGallery from './ProjectGallery.astro'
import ProjectTechList from './ProjectTechList.astro'

interface Props {
  title: string
  description: string
  repositoryUrl?: string
  webUrl?: string
  slug?: string
  techs: Array<string>
  active: boolean
  images: Array<Record<'src' | 'alt', string>>
}

const {
  title,
  description,
  repositoryUrl,
  webUrl,
  slug,
  active,
  images,
  techs,
} = Astro.props
---

<section class='max-w-max space-y-4'>
  <header class='flex items-center'>
    <Indicator />
    <div class='flex size-fit items-center gap-4'>
      <div class='flex items-center gap-2'>
        <Status {active} />
        <TitleLink href={webUrl}>
          <Title as='h3' variant='lg' content={title} />
        </TitleLink>
      </div>
      {
        repositoryUrl && (
          <a
            href={repositoryUrl}
            aria-label='Repository Link'
            class='hover:scale-105'>
            <Github class='size-5 text-foreground' />
          </a>
        )
      }
    </div>
  </header>
  <div aria-hidden='true' class='ml-indent space-y-6'>
    <Paragraph content={description} class='' />
    <ProjectTechList {techs} />
    <ProjectGallery {images} />
    {
      slug && (
        <Button as='a' href={slug}>
          Ver más
        </Button>
      )
    }
  </div>
</section>
