---
import Title from '@/components/ui/Title.astro'
import TitleLink from '@/components/ui/TitleLink.astro'
import Status from '@/components/ui/Status.astro'
import Github from '@/components/icons/Github.astro'
import Paragraph from './ui/Paragraph.astro'
import Button from './ui/Button.astro'

interface Props {
  title: string
  description: string
  repositoryUrl?: string
  webUrl?: string
  active: boolean
  slug?: string
}

const { title, description, repositoryUrl, webUrl, active, slug } = Astro.props
---

<section
  class='grid h-60 w-full max-w-[420px] grid-rows-[fit-content(100%)_auto_fit-content(100%)] gap-2 rounded-lg border border-dashed border-slate-200/20 px-6 pb-6 pt-4 text-foreground'>
  <header class='flex size-fit items-center gap-4'>
    <div class='flex items-center gap-2'>
      <Status {active} />
      <TitleLink href={webUrl}>
        <Title as='h3' content={title} />
      </TitleLink>
    </div>
    <a
      href={repositoryUrl}
      aria-label='Repository Link'
      class='hover:scale-105'>
      <Github class='size-5 text-foreground' />
    </a>
  </header>
  <Paragraph content={description} class='leading-tight' />
  <Button as='a' href={slug} class=''>Ver más</Button>
</section>
