---
import "@fontsource-variable/azeret-mono";
import Header from "../components/Header.astro";
import Cursor from "../components/Cursor.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logoStrocs.svg" />
    <title>{title}</title>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://strocs.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/documents/dd37ca57-20dc-43d2-958b-a65b3e1a8793.png?token=0srJ3ByRoKVrceh2BVz_6W8s5lmDXuyj2nO02uYTLZM&height=630&width=1200&expires=33241675430"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="strocs.dev" />
    <meta property="twitter:url" content="https://strocs.dev" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/documents/dd37ca57-20dc-43d2-958b-a65b3e1a8793.png?token=0srJ3ByRoKVrceh2BVz_6W8s5lmDXuyj2nO02uYTLZM&height=630&width=1200&expires=33241675430"
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>
  <body class="bg-zinc-900 text-zinc-100 w-full overflow-x-hidden relative">
    <Cursor />
    <Header />
    <slot />
    <Footer />
  </body>
  <style is:global></style>
</html>

<style is:global>
  html {
    font-family: "Azeret Mono Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }
</style>
